@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: cornsilk;
}

h1{
    position: relative;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    padding-left: 15vw;
    overflow: hidden;
}

h1 .box{
    position: absolute;
    bottom: 0; /*needs to be bottom of the text*/
    display: inline-block;
    background-color:darkseagreen;
    height: 1vw;
    z-index: -1; /*needs to be behind the text*/
}

h1 .hi{
    display: inline-block;
}

